
homework/data/application_test.csv
homework/data/application_train.csv
homework/data/bureau.csv
homework/data/bureau_balance.csv
homework/data/credit_card_balance.csv
homework/data/example.jpg
homework/data/example.mat
homework/data/example.npy
homework/data/example.pkl
homework/data/example.txt
homework/data/example01.json
homework/data/example02.json
homework/data/HomeCredit_columns_description.csv
homework/data/installments_payments.csv
homework/data/POS_CASH_balance.csv
homework/data/previous_application.csv
homework/data/sample_submission.csv
homework/Day_002_first_EDA.ipynb
homework/Day_003-1_build_dataframe_from_scratch.ipynb
homework/Day_003-2_read_and_write_files.ipynb
homework/Day_003-3_read_and_write_files.ipynb
homework/Day_001_example_of_metrics.ipynb
homework/.ipynb_checkpoints/Day_002_first_EDA-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_002_HW-checkpoint.ipynb
.ipynb_checkpoints/Day_001_HW-checkpoint.ipynb
.ipynb_checkpoints/Day_001_example_of_metrics-checkpoint.ipynb
homework/.DS_Store
.DS_Store
homework/.ipynb_checkpoints/Day_003-2_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_003-1_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_003-1_build_dataframe_from_scratch-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_003-3_read_and_write_files-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_003-2_read_and_write_files-checkpoint.ipynb
homework/Day_004_column_data_type.ipynb
homework/.ipynb_checkpoints/Day_004_column_data_type-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_004_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_005_HW-checkpoint.ipynb
homework/Day_006_outliers_detection.ipynb
homework/.ipynb_checkpoints/Day_006_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_006_outliers_detection-checkpoint.ipynb
homework/Day_007_handle_outliers.ipynb
homework/.ipynb_checkpoints/Day_007_handle_outliers-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_007_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_008_dataFrame_operation-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_008_HW-checkpoint.ipynb
homework/Day_008_dataFrame_operation.ipynb
homework/.ipynb_checkpoints/Day_009_correlation_example-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_009_HW-checkpoint.ipynb
homework/Day_009_correlation_example.ipynb
homework/.ipynb_checkpoints/Day_010-supplementary_correlation_and_plot_with_different_range-checkpoint.ipynb
homework/Day_010-supplementary_correlation_and_plot_with_different_range.ipynb
homework/.ipynb_checkpoints/Day_010_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_011_EDA_KDEplots-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_011_HW-checkpoint.ipynb
homework/Day_011_EDA_KDEplots.ipynb
homework/Day_012_discretizing.ipynb
homework/.ipynb_checkpoints/Day_012_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_012_discretizing-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_013_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_014_EDA_subplots-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_014_HW-checkpoint.ipynb
homework/Day_014_EDA_subplots.ipynb
homework/.ipynb_checkpoints/Day_015_EDA_heatmap-checkpoint.ipynb
homework/Day_015_EDA_heatmap.ipynb
homework/.ipynb_checkpoints/Day_015_HW-checkpoint.ipynb
